$navbar-bg: rgb(252, 252, 252);
$navbar-border: 1px solid black;
$hover-color: #1595ac;
$boton-bg: #95a9be;
$boton-hover-bg: #3f67a9;
$boton-hover-color: #ffffff;
$navbar-brand-height: 70px;

// box de info

$box-height: 300px;
$transition-duration: 0.6s;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$background-front: rgba(217, 216, 219, 0.229);
$background-back: #f7f7f7;